index.html
.prettierrc
codecov.yml
dist/

.DS_Store
npm-debug.log
yarn-error.log
.eslintrc.json
.gitignore
.npmignore
.travis.yml
.vscode/

/sample/
/src/
/coverage/
/node_modules/

__snapshots__
*.spec.js
*.spec.js.snap