html,
body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mai-player {
    background-color: black;
}

.line {
    margin-top: 0.5em;
}

label {
    margin-right: 0.5em;
}

input[type="button"] {
    margin-right: 0.5em;
}