html,
body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#player {
    background-color: black;
    background-size: cover;
    margin-left: 10em;
    margin-right: 2em;
}

.info {
    margin-top: 2em;
    text-align: center;
}

.info button ~ button {
    margin-left: 1em;
}